<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Deal</title>
    <link rel="stylesheet" href="css/styleMicael.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <img src="img/teste2.png" class="img-fluid" alt="...">
        <nav class="navbar navbar-expand-lg" style="background-color: rgb(14, 14, 14)">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="img/Logo-deal.svg" alt="" width="40" height="54">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="font-family: montserrat; color: rgb(255, 255, 255);">Prestadores</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#" style="font-family: montserrat; color: rgb(255, 255, 255);">Serviços</a>
                    </li>
                    </li>
                </ul>
                <ul class="navbar-nav mb-1 mb-lg-0">
                    <a class="navbar-brand" href="#">
                        <img src="img/Login.svg" width="50" height="34" style="margin-left: 10px">
                    </a>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" style="font-family: montserrat; color: rgb(255, 255, 255); margin-right: 20px;">Login</a>
                    </li>
                </ul>
                
                </div>
            </div>
        </nav>

        {{{body}}}
    
    <div class="card bg-dark text-white">
        <img src="img/2.png" class="card-img" alt="...">
        <div class="card-group">
        <div class="card" id="Contatos">
            <div class="card-body">
                <img src="img/Contato.svg" width="50" height="44">
                <h5 class="card-title" style="margin-top: 10px">Contatos</h5>
                <div class="inline">
                    <div class="contato-dev">Breno Lobracci <a href="https://www.linkedin.com/in/breno-lobracci-6b1082134/" target="_blank"><img src="img/linkedin-icon.png">Linkedin</a><a href="https://github.com/Breno-Lobracci" target="_blank"><img src="img/Github-icon.png">Github</a></div> 
                    <div class="contato-dev">Bruno Barlaan <a href="https://www.linkedin.com/in/bruno-barlaan-a57151214/" target="_blank"><img src="img/linkedin-icon.png">Linkedin</a><a href="https://github.com/BrunoBarlaan" target="_blank"><img src="img/Github-icon.png">Github</a></div> 
                </div>
                <div class="inline">
                    <div class="contato-dev">Isaias Santos <a href="https://www.linkedin.com/in/isaias-santos-pinheiro-77b954114/" target="_blank"><img src="img/linkedin-icon.png">Linkedin</a><a href="https://github.com/izal25" target="_blank"><img src="img/Github-icon.png">Github</a></div> 
                    <div class="contato-dev">Ítalo Rocha <a href="https://www.linkedin.com/in/italo-r-8ba70211b/" target="_blank"><img src="img/linkedin-icon.png">Linkedin</a><a href="https://github.com/ItaloRB" target="_blank"><img src="img/Github-icon.png">Github</a></div> 
                </div>
                <div class="inline">
                    <div class="contato-dev">Micael Macedo <a href="https://www.linkedin.com/in/micael-macedo-08560120a/" target="_blank"><img src="img/linkedin-icon.png">Linkedin</a><a href="https://github.com/Micael-Macedo" target="_blank"><img src="img/Github-icon.png">Github</a></div> 
                    <div class="contato-dev">Vinícius Almeida <a href="https://www.linkedin.com/in/vinicius-almeida-8975bb237/" target="_blank"><img src="img/linkedin-icon.png">Linkedin</a><a href="https://github.com/vini29almeida" target="_blank"><img src="img/Github-icon.png">Github</a></div> 
                </div>
                
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <img src="img/infos.svg" width="50" height="40">
            <h5 class="card-title" style="margin-top: 10px">Sobre nós</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <img src="img/faq.svg" width="50" height="44">
            <h5 class="card-title" style="margin-top: 10px">Tire sua dúvida aqui</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
        </div>
        <img src="img/3.png" class="card-img" alt="...">
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>