<form action="onde.html" method="get" class="container">
    <div class="mb-3">
        <label for="txtLocalidade" class="form-label">Localidade</label>
        <input type="text" class="form-control" id="txtLocalidade" name="localidade">
    </div>
    <div class="mb-3">
        <label for="txtCategoria" class="form-label" >Categoria</label>
        <select class="form-select" name="nomeCategoria" >
            <option selected>--</option>
            <option value ="eletrica">Elétrica</option>
            <option name= "hidraulica">Hidráulica</option>
            <option name="carreto">Carreto</option>
            <option name= "mecanica">Mecânica</option>
            <option name="marcenaria" >Marcenaria</option>
            <option name="pintura">Pintura</option>
            <option name="manutencao_computador">Manutenção Computador</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="txtNomeServico" class="form-label" >Descreva o serviço de forma breve</label>
        <input type="text" class="form-control" id="txtNomeServico" name="nomeServico">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>