<section>
    <div class="deal-topicos">
        <img src="img/Home-icon.png"><h1>Deal - Site para a realização de serviços</h1>
    </div>
    <div id="deal-introducao">
        <img src="img/Espécies-de-Trabalhadores.jpg">
        <h2>Nos somos a solução para qualquer tipo de necessidade</h2>
    </div>

    <div class="deal-topicos">
        <img src="img/curious.svg"><h2>Curiosidades!</h2>
    </div>
    
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <p>Você sabia Brasília foi erguida de ponta a ponta em apenas quatro anos</p>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <p>curiosidade massa</p>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <p>Em breve existirá um aplicativo capaz de medir as coisas para você</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    <div class="deal-topicos">
        <img src="img/Serviços icone.svg" ><h2>Tipos de Serviço</h2>
    </div>
    <div class="container">
        <div id="deal-tipos-servico">
            <div class="deal-servicos-card"><img  src="img/eletric.svg" alt=""><p>Elétrica</p></div>
            <div class="deal-servicos-card"><img  src="img/sink.svg" alt=""><p>Hidraulica</p></div>
            <div class="deal-servicos-card"><img  src="img/Carret.svg" alt=""><p>Carreto</p></div>
            <div class="deal-servicos-card"><img  src="img/screwdriver-and-doble.svg" alt=""><p>Mecânica</p></div>
            <div class="deal-servicos-card"><img  src="img/woodwork.svg" alt=""><p>Marcenaria</p></div>
            <div class="deal-servicos-card"><img  src="img/painting.svg" alt=""><p>Pintura</p></div>
            <div class="deal-servicos-card"><img src="img/computer.svg" alt=""><p>Manutenção computador</p></div>
        </div>
    </div>
    <div class="deal-topicos">
        <img src="img/customer-service.svg"><h2>Serviços mais solicitados</h2>
    </div>
    <div class="container">
        <div id="deal-requested-cards">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="img/timthumb.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">1° - Eletrica</h3> 
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="img/mecanica.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">2° - Mecânica</h3>   
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="img/instalacoes-hidraulicas-.png" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">3° - Hidraulica</h3> 
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="img/img-pintura.png" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">4° - Pintura</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="img/marcenaria.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">5° - Marcenaria</h3>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img class="card-img-top" src="img/carreto.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h3 class="card-title">6° - Carreto</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>