<div class="deal-titulo">
    <h1>Prestadores Compatíveis</h1>
</div>
<div class="container">
    <div class="row">   
<div class="col-md-3">
    <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="img/trabalhador (1).jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title" style="color:aliceblue">João da Silva</h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Avaliação:<img class="avaliação" src="img/estrelas (6).PNG"></li>
                            <li class="list-group-item">Elogios Frequentes: Trabalha rápido</li>
                            <li class="list-group-item">Habilidades: <span class="habilidade">Elétrica</span></li>
                        </ul>
                    <div class="card-body">
                    </div>
                </div>
            </div>
                   <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="img/trabalhador (6).jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title" style="color:aliceblue">Mario Teles</h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Avaliação:<img class="avaliação" src="img/estrelas (6).PNG"></li>                         
                            <li class="list-group-item">Elogios Frequentes: Bom acabamento</li>
                            <li class="list-group-item">Habilidades: <span class="habilidade">Hidráulica</span></li>
                        </ul>
                    <div class="card-body">
                    </div>
                </div>
            </div> 
                        <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="img/trabalhador (3).jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title" style="color:aliceblue">Jailson Mendes</h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Avaliação:<img class="avaliação" src="img/estrelas (1).PNG"></li>
                            <li class="list-group-item">Elogios Frequentes: Boa comunicação</li>
                            <li class="list-group-item">Habilidades: <span class="habilidade">Mecânica</span></li>
                        </ul>
                    <div class="card-body">
                    </div>
                </div>
            </div>
                        <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="img/trabalhador (4).jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title" style="color:aliceblue">Reinaldo Almeida</h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Avaliação:<img class="avaliação" src="img/estrelas (2).PNG"></li>
                            <li class="list-group-item">Elogios Frequentes: Bem equipado</li>
                            <li class="list-group-item">Habilidades: <span class="habilidade">Carreto</span></li>
                        </ul>
                    <div class="card-body">
                    </div>
                </div>
            </div>
                        <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="img/trabalhador (5).jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title" style="color:aliceblue">Joana Mendonça</h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Avaliação:<img class="avaliação" src="img/estrelas (6).PNG"></li>
                            <li class="list-group-item">Elogios Frequentes: Trabalha bem</li>
                            <li class="list-group-item">Habilidades: <span class="habilidade">Pintura</span></li>
                        </ul>
                    <div class="card-body">
                    </div>
                </div>
            </div>
                        <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="img/trabalhador (2).jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                            <h5 class="card-title" style="color:aliceblue">Adriano Gonçalves</h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Avaliação:<img class="avaliação" src="img/estrelas (1).PNG"></li>
                            <li class="list-group-item">Elogios Frequentes: Pontualidade</li>
                            <li class="list-group-item">Habilidades: <span class="habilidade">Marcenaria</span></li>
                        </ul>
                    <div class="card-body">
                </div>
            </div>
        </div>           
    </div> 
</div> 
    
