<section>
    <div class="deal-titulo">
    <h1>Prestadores Compatíveis</h1>
    </div>
    <div id="deal-requested-cards">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img class="card-imgs" src="img/trabalhador (1)" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title"></h3> 
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-imgs" src="" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title"></h3> 
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-imgs" src="" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title"></h3> 
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-imgs" src="" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title"></h3> 
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-imgs" src="" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title"></h3> 
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-imgs" src="" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title"></h3> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>