<div class="deal-topicos">
    <img src="img/services.svg"><h1>Serviços solicitados</h1>
</div>
<div class="container">
    <div class ="col-sm-6 col-lg-4 col-xl-3 mb-3">
        {{#each servicos}}
        <div class="card cards-servicos" class="container">
            <h5 class="card-header">Categoria</h5>
            <div class="card-body">
                <p class="card-text">Endereço : {{localidade}}</p>
                <p class="card-title">Tipo do Serviço: {{categoria}}</p>
                <p class="card-text">Descrição do serviço: {{servico}}</p>
            </div>
        </div>
        {{/each}}
        <div class="card cards-servicos" class="container">
            <h5 class="card-header">Adicionar Novo Serviço</h5>
            <div class="card-body">
                <a class="btn btn-primary" href="cadastroServico">Cadastrar Serviço</a>
            </div>
        </div>
    </div>
</div>