:root{
    --deal-introducao-bg: black;
    --deal-introducao-txt: #be2edd;
    --deal-carousel-bg: #be2edd;
    --deal-topics-bg: #be2edd;
}
section{
    margin-bottom: 20px;
}
.deal-topicos{
    margin-bottom: 20px;
    background-color: var(--deal-topics-bg);
    display: flex;
    align-items: center;
    justify-content: baseline;
}
.deal-topicos img{
    width: 40px;
    height: 40px;
    margin: 10px;
}
#deal-introducao{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 800px;
    background-color: var(--deal-introducao-bg);
}
#deal-introducao h2{
    position: absolute;
    color: var(--deal-introducao-txt);
    z-index: 1;
}
#deal-introducao img{
    width: 100%;
    filter: brightness(20%);
    z-index: 0;
    height: 800px;
}
#carouselExampleInterval{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding-left: 200px;
    height: 100px;
    background-color: var(--deal-carousel-bg);
    font-size: 25px;
    font-weight: 700 !important; 
    border: 4px solid black;
}
#carouselExampleInterval p{
    justify-self: center;
}

#deal-tipos-servico{
    margin: 5px 40px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.deal-servicos-card img{
    width: 55px;
    height: 50px;
}

.deal-servicos-card{
    max-width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.deal-card-servicos-mais-solicitados{
    text-align: center;
    background-color: #be2edd;
}
.card-img-top{
    height: 220px;
}

.card-body{
    background-color: #be2edd;
}

